<div class="col-md-3 col-sm-6 bottommargin">
    <div class="ipost clearfix">
        <div class="entry-image">
            <a href="{{ .RelPermalink }}"><img class="image_fade" src="images/magazine/thumb/4.jpg" alt="Image"></a>
        </div>
        <div class="entry-title">
            <h3><a href="{{ .RelPermalink }}">{{ .Title }}</a></h3>
        </div>
        <ul class="entry-meta clearfix">
            <li><i class="icon-calendar3"></i> {{ .Date.Format "Jan 02, 2006" }}</li>
            <li><a href="blog-single.html#comments"><i class="icon-comments"></i> 54</a></li>
        </ul>
        <div class="entry-content">
            <p>Community health workers best practices, effectiveness meaningful work The Elders fairness. Our ambitions local solutions globalization.</p>
        </div>
    </div>
</div>